{% extends 'layouts/default.njk' %}

{% block body %}
    <div class="weather">
        <h2>Oops, page not found.</h2>
        <a href="https://dundja-weather.herokuapp.com/weather">Go back to main page</a>
    </div>
{% endblock %}