<div class="top"  id="top-bar">
    <div class="location-data">
        <form class="location-data__form">
            <input class="location-data__input" id="location-input" type="text" title="Search for a Location" placeholder="{{location}}"></input>
            <button class="location-data__search-btn" id="search-btn">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    <div class="datetime-data">
        <div class="datetime-data__date" id="curr-date">{{currently.time}}</div>
        <div class="datetime-data__time" id="curr-time">{{currently.time}}</div>
    </div>
</div>