<div class="switch-btn">
    <span class="switch-btn__units-label">°C</span>
    <input type="checkbox" class="switch-btn__cmd-toggle" id="switch-units">
    <label for="switch-units" class="switch-btn__cmd-toggle--label" title="fahrenheit/celsius"></label>
    <span class="switch-btn__units-label">°F</span>
</div>